@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
.div1 div span{
	display: inline-block;
	width: 800px;
	height: 600px;
	background-image:  url(../img/bg.jpg) ;
	background-repeat: no-repeat;
	margin: 0 600px;
	position: absolute;
	z-index: 1;
}
@keyframes sli{
    0%{ left: 0px; }
	100%{ left: 150px; }
  
 }
/*.div1 div span:nth-of-type(2){
	display: inline-block;
	width: 800px;
	height: 600px;
	background-image:  url(../img/1.jpg) ;
	background-repeat: no-repeat;
	margin: 0 600px;
	position: absolute;
	z-index: 2;
}
.div1 div span:nth-of-type(3){
	background-repeat: no-repeat;
	display: inline-block;
	width: 800px;
	height: 600px;
	background-image:  url(../img/2.jpg) ;
	margin: 0 600px;
	position: absolute;
	z-index:3;
}
.div1 div span:nth-of-type(4){
	background-repeat: no-repeat;
	display: inline-block;
	width: 800px;
	height: 600px;
	background-image:  url(../img/3.jpg) ;
	margin: 0 600px;
	position: absolute;
	z-index: 4;
}*/
/*span{
	display: inline-block;
	width: 800px;
	height: 600px;
	background-image: url(../img/0.jpg);
}*/
